@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --themeContrast1: 29 66% 22%;
    --themeContrast2: black;
    --theme1: 53 100% 59%;
    --theme2: 53 90% 55%;
    --theme3: 0 81% 54%;

    --normal: 60 8% 72%;
    --poison: 307 31% 51%;
    --psychic: 328 91% 68%;
    --grass: 94 64% 58%;
    --ground: 48 73% 64%;
    --ice: 187 98% 79%;

    --normal-l: 60 8% 86%;
    --poison-l: 308 31% 75%;
    --psychic-l: 328 90% 84%;
    --grass-l: 94 64% 79%;
    --ground-l: 47 74% 82%;
    --ice-l: 187 96% 89%;

    --normal-d: 60 8% 36%;
    --poison-d: 308 31% 25%;
    --psychic-d: 328 91% 34%;
    --grass-d: 94 64% 29%;
    --ground-d: 48 73% 32%;
    --ice-d: 187 98% 39%;

    --fire: 6 95% 62%;
    --rock: 46 50% 63%;
    --dragon: 249 100% 73%;
    --water: 208 99% 66%;
    --bug: 65 74% 47%;
    --dark: 20 25% 44%;

    --fire-l: 6 96% 81%;
    --rock-l: 46 49% 81%;
    --dragon-l: 249 100% 86%;
    --water-l: 208 100% 83%;
    --bug-l: 65 74% 73%;
    --dark-l: 21 24% 72%;

    --fire-d: 6 95% 31%;
    --rock-d: 47 50% 31%;
    --dragon-d: 249 100% 36%;
    --water-d: 208 99% 33%;
    --bug-d: 65 73% 24%;
    --dark-d: 19 25% 22%;

    --fighting: 9 38% 46%;
    --ghost: 244 50% 62%;
    --steel: 243 23% 81%;
    --flying: 221 100% 74%;
    --electric: 52 97% 61%;
    --fairy: 296 100% 84%;

    --fighting-l: 9 38% 73%;
    --ghost-l: 245 51% 81%;
    --steel-l: 245 22% 90%;
    --flying-l: 221 100% 87%;
    --electric-l: 52 98% 81%;
    --fairy-l: 296 100% 92%;

    --fighting-d: 9 38% 23%;
    --ghost-d: 244 50% 31%;
    --steel-d: 243 23% 41%;
    --flying-d: 221 100% 37%;
    --electric-d: 52 97% 30%;
    --fairy-d: 296 100% 42%;
  }
}

