@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --themeContrast1: 29 66% 22%;
    --themeContrast2: black;
    --theme1: 53 100% 59%;
    --theme2: 53 90% 55%;
    --theme3: 0 81% 54%;
  }

}
